/*==basic css==*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: poppins;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

#quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  background-color:goldenrod;
}
.quiz-heading h3{
  font-size: 2.4rem;
  color:aquamarine;
  font-weight: 800;
  text-transform: uppercase;
  line-height: 2.4rem;
}
.quiz-heading strong{
  color: blue;
  font-size:1rem;
  font-weight: 500;
  letter-spacing: 0.3px;
}
/*only within Washington state, other areas coming soon!*/