/*==basic css==*/
*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: poppins;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

#quiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px 0px;
  background-color:goldenrod;
}
.quiz-heading h3{
  font-size: ;
}
/*only within Washington state, other areas coming soon!*/